<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../CSS/Constant.css">
    <link rel="stylesheet" href="../CSS/Header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>

	  <div id="DesktopNav">
      <nav>
        <li class="Link"><a target='_parent' href="../HTML/About.html">About</a></li>
        <li class="Link"><a target='_parent' href="../HTML/Index.html">Skills</a></li>
        <li class="Link"><a target='_parent' href="../HTML/Index.html">Education</a></li>
        <li style="padding-top:5px;float:left;">
			<img src="../Images/Logos/MainLogo.svg" id="HeaderLogo"/>
        </li>
		  <li style="float:left;"><a target='_parent' href="../HTML/Index.html">Constantin Khamis</a ></li>
      </nav>
    </div>

    <!--Mobile Nav Here-->
	</body>
</html>
